*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}  
.subscribe-form{
    width:80%;
    height: max-content;
    border-radius: 5px;
    background-color: rgb(126, 184, 235);
    margin-top: 15px;
    margin-left: 15px;
    padding: 15px;
}
.subscribe-head, .subscribe-text, .subscribe-btn{
    margin-bottom: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
.subscribe-head > b{
    color: rgb(211, 164, 46);
}
.subscribe-ipt{ 
    margin-right: 10px;
    padding: 5px;
    border-radius: 4px;

}
.subscribe-btn{ 
    margin-right: 10px;
    padding: 5px;
    border-radius: 4px;
    background-color: yellow;
}
.subscribe-form:hover input::placeholder{
    color: rgb(211, 164, 46);
}
.subscribe-form:hover button{
    color: #fff;
    background-color: rgb(211, 164, 46);
}