* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li,
a {
  text-decoration: none;
}

.header {
  color: #2c3a91;
  margin: 20px;
  padding: 20px;
  height: max-content;
  width: 100%;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
.navbar {
  display: flex;
  justify-content: center;
}
.navbar label {
  margin: 2px;
  padding: 10px;
  background-color: #f5f5f5;
}
.navbar label a {
  text-decoration: none;
  text-transform: capitalize;
  color: black;
}
.container-product {
  margin-top: 30px;
  border: 1px solid;
}
.skincare-card {
  width: 180px;
  height: 300px;
  border: 1px solid;
}

.image {
  text-align: center;
  width: 180px;
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(http://skincarevn.com.vn/upload/images/thuong-hieu-my-pham-nhat-shiseido.jpg);
}
.skincare-card .image {
  text-align: center;
  width: 180px;
  height: 300px;
  border: 1px solid;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(http://skincarevn.com.vn/upload/images/thuong-hieu-my-pham-nhat-shiseido.jpg);
}
.image-icon {
  display: flex;
  justify-content: space-between;
  margin-top: 230px;
  margin-bottom: 3px;
}
.image-icon i {
  padding: 8px;
  color: aliceblue;
  background-color: rgb(44, 58, 145);
  border: 1px solid;
}
.image-button button {
  background-color: rgb(44, 58, 145);
  border-radius: 3px;
  color: #fff;
  text-transform: capitalize;
  width: 100%;
  height: 32px;
}
.card-info {
  margin-top: 30px;
  text-align: center;
}
.card-name,
.card-price {
  margin-top: 10px;
}
.checked {
  color: yellow;
}
